{{ define "main" }}

<header>
    <h1>{{ $.Site.Title }}</h1>
    <p>{{ $.Site.Params.description }}</p>
    <nav>
        {{- range $.Site.Params.mainMenu -}}
            <a href="{{ .link }}">{{ .text }}</a>{{ " " }}
        {{- end -}}
    </nav>
</header>

<hr>

{{- $posts := (where site.RegularPages "Section" "posts") -}}
{{- $microposts := (where site.RegularPages "Section" "microposts") -}}
{{- $all := sort (union $posts $microposts) "Date" "desc" -}}
{{- range $all -}}
    {{- if not .Draft }}
    {{- if eq .Section "microposts" }}
    <article class="micropost">
        {{ .Content }}
        <a href="{{ .Permalink | relURL }}"><time datetime="{{ .Date }}">{{ .Date | time.Format site.Params.dateformfull }}</time></a>
    </article>
    {{- else }}
    <article class="post-preview">
        <h2><a href="{{ .Permalink | relURL }}">{{ .Title }}</a></h2>
        <time>{{ .Date | time.Format site.Params.dateform }}</time>
        <p>{{ .Summary | plainify | truncate 300 }}</p>
        {{- if .Truncated }}
        <a href="{{ .Permalink | relURL }}">Continue reading &raquo;</a>
        {{- end }}
    </article>
    {{- end }}
    <hr>
    {{- end }}
{{- end }}

{{ end }}
